@font-face {
  font-family: 'eatdayregular';
  src: url('../../fonts/eatday-webfont.woff2') format('woff2'),
    url('../../fonts/eatday-webfont.woff') format('woff');
}

.FeedBackForm {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 25px;
  background-color: rgba(93, 173, 147, 0.61);
  overflow: hidden;
}
